section.about_ban {
  width: 100%;
  height: 960px;
  background-image: url("../../assets/images/About/aboutbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about_Con h2 {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  color: rgb(50 50 50);
  margin-top: 130px;
  // margin-bottom: 39px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.about_Con h5 {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: rgb(236 73 138);
  margin-bottom: 20px;
  text-transform: capitalize;
}

// .about_Con h2::first-letter {
//   color: rgb(236 73 138);
//   // font-size: 65px;
// }
.about_Con h2 span {
  color: rgb(236 73 138);
}

.mob_abo_banner img {
  max-width: 100%;
}

.mob_abo_banner {
  display: none;
}

.about_Con p {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #4f4f4f;
  max-width: 91%;
}

section.ban_sec2 {
  margin-top: -130px;
}

.sec2_con {
  padding: 50px 30px 10px 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

section.ban_sec2 img {
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 20px #ccc;
}

section.ban_sec2 p {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #4f4f4f;
}

section.about_testim {
  margin-top: 150px;
  margin-bottom: 40px;
}

.our_his {
  // background: linear-gradient(96.72deg, #fad0c4 6.25%, #e4a8e4 103.39%);
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 453px;
  padding: 30px 70px;
  margin: 0 50px;
}

.our_his h2 {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: rgb(50 50 50);
  margin: 0;
}

.our_his h5 {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: rgb(236 73 138);
}

.our_his p {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #323232;
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  section.about_ban {
    background-size: contain;
  }

  section.ban_sec2 {
    margin-top: -290px;
  }

  .other_head .middle_nav_login .navbar-nav .nav-item {
    margin: 10px 0px 0px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {

  .about_Con h2,
  .our_his h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-expand-md .navbar-nav {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  section.about_ban {
    background-size: contain;
    background-position: center;
  }

  .about_Con h2 {
    font-size: 35px;
    line-height: 120%;
    margin-top: 70px;
  }

  section.ban_sec2 {
    margin-top: -44%;
    position: relative;
  }

  section.about_testim {
    margin: 30px 0px;
  }

  .tes_box2 {
    width: 162px;
    float: left;
    margin: 10% 0px;
  }

  .our_his h2 {
    font-size: 31px;
    line-height: 44px;
  }

  .our_his {
    height: 453px;
    padding: 49px 30px;
    margin: 0px;
  }

  .tes_box {
    padding: 11px 10px 0px;
  }
}

@media screen and (max-width: 767px) {
  section.about_testim {
    margin-top: 0px;
  }

  .our_his {
    margin: 0;
    height: auto;
    padding: 20px 0;
  }

  .our_his h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .tes_box.heg_cha::before {
    width: 70px;
    height: 70px;
    right: -12px;
    bottom: -29px;
  }
  .tes_box_ankita.heg_cha::before {
    width: 70px;
    height: 70px;
    right: -12px;
    bottom: -29px;
  }

  .about_Con h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 120%;
  }

  section.about_ban {
    height: 600px;
    background-size: 100%;
    background-position: bottom;
  }

  section.ban_sec2 {
    margin-top: 0px;
  }
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  section.about_ban {
    background-image: none;
    height: auto;
  }

  .mob_abo_banner {
    display: block;
  }

  section.about_testim {
    overflow: hidden;
    padding-top: 30px;
    margin: 0;
  }

  .our_his {
    background-color: transparent;
  }
}

@media screen and (max-width:767px) {
  .google_ads_home {
    margin: 5px 0px !important;
    height: 45px !important;
    width: 100% !important;
    object-fit: contain;
  }



}

.NikitaSharmaImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.AnkitaSharmaImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}