@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.all_certif_banner {
  background-image: url("../../assets/images/AllCertificate/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 485px;
  display: flex;
  align-items: center;
}
.all_certif_banner h2 {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  text-transform: capitalize;
  color: #f9f8fe;
}
.all_certif_banner p {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #f9f8fe;
}
.all_certif_box {
  margin-bottom: 50px;
}
.all_certif_box img {
  max-width: 100%;
  transition-duration: 1s;
}
.all_certif_box img.certif_img:hover {
  transform: scale(1.09);
  transition: 1s;
  cursor: pointer;
}
.all_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 335px;
}
.all_list ul {
  display: inline-flex;
  gap: 0.3rem;
  list-style: none;
  align-items: flex-end;
  padding: 0;
}
.all_certif_con {
  padding: 21px 0px;
}
.all_certif_sec h2.my_achiev {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: capitalize;
  color: #000000;
  margin-top: 67px;
  margin-bottom: 30px;
}
.all_certif_con h2 {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  max-width: 430px;
}
.all_certif_con p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #828282;
}
.all_certif_con button {
  background: #ffffff;
  border: 1px solid #ec498a;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #ec498a;
  margin-right: 20px;
  padding: 14px;
  width: 190px;
  transition-duration: 1s;
}
.all_certif_con button:hover {
  background-color: #ec498a;
  color: #fff;
}
.box_certificate_large {
  background-image: url("../../assets/images/AllCertificate/certificate_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // box-shadow: 0px 0px 3px #ccc;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
  padding: 15px;
  height: 650px;
  position: relative;
  display: grid;
  align-items: center;
}
.box_certificate_large::after {
  content: "";
  background-image: url("../../assets/images/AllCertificate/logo2.png");
  width: 200px;
  background-size: contain;
  height: 58px;
  position: absolute;
  right: 42px;
  top: 42px;
}
.date_set_large {
  position: absolute;
  bottom: 42px;
  left: 42px;
  text-align: center;
}
.signature_set {
  position: absolute;
  bottom: 42px;
  right: 42px;
  text-align: center;
}
.cercifi_con_large p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
}
hr.hr_line {
  border: 1px solid #828282;
  max-width: 401px;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}
.cercifi_con_large h2 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0;
}
.cercifi_con_large img.cer_text {
  margin-bottom: 35px;
}
.cercifi_con_large h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  text-transform: capitalize;
  color: #000000;
}
hr.hr_line2 {
  border: 1px solid #828282;
  margin: 13px auto;
}

button.back_course {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #ec498a;
  border: 1px solid #ec498a;
  padding: 15px 35px;
  margin: 15px 0 15px 480px;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .all_certif_con button {
    width: 150px;
  }
}

// new css small certificate
.box_certificate_small {
  background-image: url("../../assets/images/AllCertificate/certificate_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 379px;
  position: relative;
}
.box_certificate_small::after {
  content: "";
  background-image: url("../../assets/images/AllCertificate/logo2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
    width: 120px;
    height: 56px;
    right: 2%;
    top: 3%;
}
.cercifi_con_small{
  margin-top: 80px;
}
.cercifi_con_small h2 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 35px;
  text-align: left;
}
.cercifi_con_small h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  color: #000000;
  margin: 10px 0 20px 0;
  text-align: left;
}
.cercifi_con_small p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 0;
  margin: 0px;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}
hr.hr_line {
  margin-bottom: 27px;
}
.box_certificate_small .offset-3.col-md-7.col-12 {
  padding: 0px;
}
.certi_img p img {
  max-width: 80%;
}
.certi_img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
}
.signature_set .president {
  font-size: 10px;
}
.signature_set .name-surname {
  font-size: 11px;
  font-weight: 600;
  box-shadow: none;
}
hr.hr_line2 {
  margin: 4px auto;
}
.date_set_small {
  position: absolute;
  text-align: center;
  font-size: 11px;
  bottom: 15px;
  left: 35px;
}
.signature_set {
  bottom: 15px;
}
.cercifi_con_small {
  padding-top: 0%;
}
.box_certificate_small {
  padding: 0;
}
.content img {
  margin-bottom: 0px !important;
}
.cercifi_con_small img.last-img {
  margin-top: 10px;
  max-width: 70%;
}
.date-certi {
  font-weight: 600;
}
.date-text {
  text-transform: uppercase;
}
.destination-text {
  line-height: 28px !important;
}
.certificate-downloaddiv img {
  width: 44px;
  height: 44px;
  max-width: none !important;
  cursor: pointer;
}
.content:hover .content-overlay {
  z-index: 999;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 9999;
}
.cercifi_con_small p.second-number {
  line-height: 30px;
  margin-top: -24px;
}
.box_certificate_small.mb-4 {
  border: 10px solid #E3E4EB;
  border-radius: 15px;
}


@media screen and (max-width: 768px) {

.all_certif_banner {
  height: 236px;
}
.all_certif_banner h2 {
  font-size: 28px;
}
.all_certif_banner p {
  font-size: 18px;
}
.all_certif_con p {
  word-break: break-all;
}
.all_certif_con button {
  margin-right: 10px;
  padding: 15px 5px;
  width: 120px;
}
}


@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {

  .all_certif_banner {
    height: 315px;
  }
}

// @media screen and (max-width: 1280px) {
//   .all_certif_banner {
//     height: 395px;
//   }
// }

@media screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
  .all_certif_banner {
    height: 395px;
  }
}