.cou_result_cont h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.cou_resultBg {
  // background-image: url('../../assets//images/Courses/Couse_result_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 870px;
  padding-top: 106px;
  padding-bottom: 123px;
  text-align: center;
}

.cou_resultBg button.get_certif {
  background: #ec498a;
  border: 1px solid #ec498a;
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 70px;
}
.progress-value p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 0;
}
.progress-value p span {
  color: #000 !important;
}
.pro_div .row {
  align-items: center;
}
.progress.pink_pro {
  width: 180px;
  height: 180px;
  overflow: visible;
}
.progress.pink_pro .progress-value p {
  color: #ec498a;
}
span.progress-bar.col_chg {
  border-color: #ec498a;
}
.pro_div {
  margin: 45px 0;
}
@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .progress.pink_pro {
    margin: 30px auto;
  }
  .cou_resultBg {
    height: auto;
    padding: 35px 0;
  }
}




