.language_button {
    margin-left: 419px;
    width: 150px;
    height: 40px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: #1c1d1f;
    color: #ffffff;
    font-family: Sora;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
  }