.SucOption {
  background-image: url("../../assets/images/Success/sucOptBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 407px;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}
.SucOption h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #333333;
  text-transform: capitalize;
}
.MuiTabs-flexContainer button {
  width: 100%;
  display: block;
}


@media screen and (min-device-width: 50px) and (max-device-width: 767px) { 
  .SucOption {
    background-image: url('../../assets/images/Career/mob_bg.png');
    align-items: flex-start;
  }

  .CompExams .MuiTabs-root.MuiTabs-vertical {
    height: auto;
  }
  .SucOption h2 {
    font-size: 34px;
    line-height: 40px;
    padding-top: 47px;
}
}