.SuccStory_banner {
    background-image: url('../../assets/images/Success/sus_banner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    background-size: cover;
}
.SuccStory_banner h2 {
    font-family: SegoeUI_bold;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
    margin-top: 130px;
}
.global_img {
    margin-top: 100px;
}
.global_img img {
    max-width: 100%;
}
.SuccStory_banner p {
    font-family: SegoeUI_medium;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
.suc_box {
    margin-top: 150px;
}
.suc_box h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #D62C79;
}
.suc_box h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #333333;
}
.suc_box p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #828282;
}
.suc_btn button {
    background: #FFE2EC;
    border: 1px solid #FFE2EC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7.5px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #EC498A;
}
.suc_btn hr {
    width: 226px;
    border: 1px solid #E3E4EB;
}
.suc_btn {
    display: flex;
    gap: 1rem;
}
.suc_box img.quote_img {
    max-width: 100%;
    vertical-align: bottom;
    margin-right: 10px;
}
.suc_box img {
    max-width: 100%;
}
.suc_box ul  {
    padding: 0;
}
.suc_box ul li {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 20px;
    list-style: none;
    color: #333333;
}
.want {
    background: linear-gradient(96.72deg, #FAD0C4 6.25%, #E4A8E4 103.39%);
    height: 507px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.want h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    max-width: 1057px;
    margin: 0 auto;
}
button.want_btn {
    background: #EC498A;
    border-radius: 20px;
    padding: 12px 20px;
    border: none;
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px 0;
}