.SuccStory_banner {
  background-image: url("../../assets/images/Success/sus_banner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
  background-size: cover;
}
.SuccStory_banner h2 {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #ffffff;
  margin-top: 130px;
}
.global_img {
  margin-top: 100px;
}
.global_img img {
  max-width: 100%;
}
.SuccStory_banner p {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
}
.suc_box {
  margin-top: 150px;
}
.suc_box h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #d62c79;
}
.suc_box h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #333333;
}
.suc_box p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #828282;
}
.suc_btn button {
  background: #ffe2ec;
  border: 1px solid #ffe2ec;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7.5px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ec498a;
}
.suc_btn hr {
  width: 226px;
  border: 1px solid #e3e4eb;
}
.suc_btn {
  display: flex;
  gap: 1rem;
}
.suc_box img.quote_img {
  max-width: 100%;
  vertical-align: bottom;
  margin-right: 10px;
}
.suc_box img {
  max-width: 100%;
}
.suc_box ul {
  padding: 0;
}
.suc_box ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 20px;
  list-style: none;
  color: #333333;
}
.want {
  background: linear-gradient(96.72deg, #fad0c4 6.25%, #e4a8e4 103.39%);
  height: 507px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.want h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  max-width: 1057px;
  margin: 0 auto;
}
button.want_btn {
  background: #ec498a;
  border-radius: 2px;
  padding: 12px 20px;
  border: none;
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .SuccStory_banner {
    background-image: url("../../assets/images/Success/mob_suc_banner.png");
    height: 698px;
  }

  .global_img {
    margin-top: 43px;
  }

  .SuccStory_banner h2 {
    margin: 0;
    font-size: 24px;
    margin-top: 15px;
  }
  .SuccStory_banner p {
    font-size: 16px;
    margin-top: 15px;
  }
  .suc_box {
    margin-top: 40px;
  }
  .suc_btn hr {
    width: 80px;
  }

  .suc_btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .suc_box h2 {
    font-size: 16px;
  }

  .suc_box h3 {
    font-size: 16px;
  }

  .suc_box p {
    font-size: 16px;
  }

  .want h2 {
    font-size: 24px;
  }

  button.want_btn {
    border-radius: 2px;
  }

  .want {
    height: 260px;
    margin-top: 30px;
  }

  .suc_box .col-md-8.col-12 {
    order: 2;
  }

  .suc_box .col-md-4.col-12 {
    order: 1;
  }
}

// @media screen and (max-width: 1280px) {
//     .SuccStory_banner {
//     height: 534px;
// }
// }
