.card_courses .card {
  background: #f9f8fe;
  box-shadow: none;
  // padding: 0px 20px;
  border: none;
  font-family: SegoeUI_medium;
}
.course_module {
  background: #f9f8fe;
}
.accordion_box .active-accordiantext {
  color: #ec498a !important;
  margin-left: -31px;
}
.accordion_box .active-accordiantext img{
  margin-right: 7px;
}
.card_courses .card h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
  width: 462px;
  max-width: 100%;
  font-family: 'SegoeUI_bold';
  padding-top: 30px;
}
.tog_set img {
  margin-top: 41px;
  background-color: #fff;
  padding: 12px;
  cursor: pointer;
}
.card_courses .card p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  position: relative;
}
.about_courses_border {
  border-bottom: 1px solid #e3e4eb;
}
.courses_about_div {
  border: 1px solid #e3e4eb;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
  padding: 10px 0px;
}
.courses_about_div .about_courses {
  padding: 15px 20px;
}

.courses_about_div .about_courses h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
  font-family: SegoeUI_medium;
}

.courses_about_div .about_courses p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number ul li {
  list-style-type: none;
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number h6 {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}
.courses_about_div .courses_number p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number {
  padding: 15px 20px;
}
.read_more_text {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #d62c79;
  right: 20px;
  bottom: 0px;
  cursor: pointer;
}
.prev_next_btn .prev_icon {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
}
.prev_next_btn .prev_icon:hover {
  color: #ec498a;
}
.circular_progress_module {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  // float: right;
}
// .circular_progress_module{
//   margin-bottom: 47px;
// }
.circular_progress_module .css-e53awj-MuiStack-root {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 19px;
}
.circular_progress_module
  .MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  height: 13px;
  background-color: transparent;
}
.circular_progress_module .label-progressbar {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  position: absolute;
  right: 15px;
  top: 0;
}
.circular_progress_module
  .MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary {
  background-color: #d62c79;
}
.circular_progress_module
  .MuiCircularProgress-root.MuiCircularProgress-determinate {
  color: #ec498a;
  width: 50px !important;
  height: 50px !important;
  margin-top: -7px;
}
.accordion_box {
  border: 0;
  padding: 20px;
  background-color: #fff;
}
.accordion_box .MuiAccordion-region p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  padding-left: 45px;
}
.accordion_box h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 10px 15px;
}
.accordion_box .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  display: none;
}
.accordion_box .number-bgbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #828282;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 20px;
}
.accordion_box .MuiPaper-root.MuiPaper-elevation {
  border: none;
  background-color: transparent;
}
.accordion_box .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
  background-color: transparent;
  border-top: 0;
  border-bottom: 0;
}
.accordion_box .MuiButtonBase-root.MuiAccordionSummary-root {
  background-color: transparent;
  border: none;
  flex-direction: inherit;
}
.accordion_box .MuiAccordionSummary-content {
  margin: 0px;
}
.accordion_box
  .MuiPaper-root.MuiPaper-elevation
  .MuiAccordionSummary-content
  .MuiTypography-root {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: SegoeUI_medium;
}
.accordion_box .MuiAccordionDetails-root {
  border: none;
}
.accordion_box .MuiAccordionDetails-root ul li {
  list-style-type: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 15px;
}
.btn.btn_test {
  background: #ec498a;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px 50px;
}
.prev_next_btn .back_button {
  background: #e3e4eb;
  border-radius: 10px;
  border: 0;
  width: 190px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}
.prev_next_btn .next_button {
  background: #ec498a;
  border-radius: 10px;
  border: 0;
  width: 190px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.prev_next_btn .text-right a{
  background: #ec498a;
  border-radius: 10px;
  border: 0;
  width: 190px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.close_btn {
  display: flex;
  justify-content: space-between;
}
.close_btn img {
  object-fit: contain;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .prev_next_btn {
    margin: 15px auto;
  }
  .prev_next_btn .back_button {
    width: 100%;
  }
  .prev_next_btn .next_button {
    width: 100%;
  }
}
