.card_courses .card {
  background: #f9f8fe;
  box-shadow: none;
  padding: 0px 18px;
  border: none;
  font-family: SegoeUI_medium;
}
.course_module {
  background: #f9f8fe;
}
.accordion_box .active-accordiantext {
  color: #ec498a !important;
  margin-left: -31px;
}
.accordion_box .active-accordiantext img {
  margin-right: 7px;
}
.card_courses .card h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
  width: 462px;
  max-width: 100%;
  font-family: "SegoeUI_bold";
  padding-top: 30px;
}
.tog_set img {
  margin-top: 11px;
  background-color: #fff;
  /* padding: 0 5px; */
  margin-bottom: 32px;
  cursor: pointer;
  max-width: 100%;
}
.tog_set li.active-accordiantext {
  color: #d62c79;
}
.tog_set li {
  list-style-type: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 15px;
}
.card_courses .card p {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  position: relative;
}
.about_courses_border {
  border-bottom: 1px solid #e3e4eb;
}
.courses_about_div {
  border: 1px solid #e3e4eb;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
  padding: 10px 0px;
}
.courses_about_div .about_courses {
  padding: 15px 20px;
}

.courses_about_div .about_courses h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
  font-family: SegoeUI_medium;
}

.courses_about_div .about_courses p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number ul li {
  list-style-type: none;
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number h6 {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}
.courses_about_div .courses_number p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.courses_about_div .courses_number {
  padding: 15px 20px;
}
.read_more_text {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #d62c79;
  right: 20px;
  bottom: 0px;
  cursor: pointer;
}
.prev_next_btn .prev_icon {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
}
.prev_next_btn .prev_icon:hover {
  color: #ec498a;
}
.circular_progress_module {
  font-family: SegoeUI_medium;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  // float: right;
}
// .circular_progress_module{
//   margin-bottom: 47px;
// }
.circular_progress_module h2 {
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 54px;
}
span.MuiSlider-rail {
  background-color: transparent !important;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  height: 13px;
}
.circular_progress_module
  .MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  height: 13px;
  background-color: transparent;
}
.circular_progress_module .label-progressbar {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  position: absolute;
  top: 65px;
  right: 15px;
}
.circular_progress_module
  .MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary {
  background-color: #d62c79;
}
.circular_progress_module
  .MuiCircularProgress-root.MuiCircularProgress-determinate {
  color: #ec498a;
  width: 50px !important;
  height: 50px !important;
  margin-top: -7px;
}
.accordion_box {
  border: 0;
  // padding: 20px;
  background-color: #fff;
}
.accordion_box .MuiAccordion-region p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  padding-left: 45px;
}
.accordion_box h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 0px 15px;
  margin: 0;
}
.accordion_box .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  display: none;
}
.accordion_box .number-bgbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #ec498a;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 20px;
}
.accordion_box .MuiPaper-root.MuiPaper-elevation {
  border: none;
  background-color: transparent;
}
.accordion_box .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
  background-color: transparent;
  border-top: 0;
  border-bottom: 0;
}
.accordion_box .MuiButtonBase-root.MuiAccordionSummary-root {
  background-color: transparent;
  border: none;
  flex-direction: inherit;
}
.accordion_box .MuiAccordionSummary-content {
  margin: 0px;
}
.accordion_box
  .MuiPaper-root.MuiPaper-elevation
  .MuiAccordionSummary-content
  .MuiTypography-root {
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.accordion_box .MuiAccordionDetails-root {
  border: none;
}
.accordion_box .MuiAccordionDetails-root ul li {
  list-style-type: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 15px;
}
.btn.btn_test {
  background: #ec498a;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px 50px;
}
.prev_next_btn {
  margin-top: 25px;
}
.prev_next_btn .back_button {
  border-radius: 2px;
  background: #ffffff;
  border: 1px solid #ec498a;
  box-sizing: border-box;
  width: 190px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #ec498a;
}
.prev_next_btn .back_button:hover {
  background-color: #ec498a;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.prev_next_btn .next_button {
  background: #ec498a;
  border-radius: 2px;
  border: 0;
  width: 190px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.prev_next_btn .next_button:hover {
  border: 1px solid #ec498a;
  background-color: transparent;
  transition: 1s;
  color: #ec498a;
}
.prev_next_btn .text-right a {
  background: #ec498a;
  border-radius: 10px;
  border: 0;
  width: 190px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.close_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.close_btn img {
  object-fit: contain;
}
.des_dynamic_con h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}
.des_dynamic_con p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.des_dynamic_con {
  margin: 10px 0;
}
.des_dynamic_con ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #505050;
}
.tog_set .number-bgbox {
  width: 26px;
  height: 26px;
  background: #ec498a;
  text-align: center;
  border-radius: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 5px 22px;
}
.circular_progress_module .red1-progress .MuiSlider-track {
  background: #ff3300;
}
.circular_progress_module .red1-progress span.MuiSlider-thumbColorPrimary {
  height: 26px;
  width: 26px;
  background: #ff3300 !important;
  box-shadow: 0px 0px 10px rgb(236 124 211) !important;
}
.circular_progress_module .yellow1-progress .MuiSlider-track {
  background: #ff9900;
}
.circular_progress_module .yellow1-progress span.MuiSlider-thumbColorPrimary {
  height: 26px;
  width: 26px;
  background: #ff9900 !important;
  box-shadow: 0px 0px 10px rgb(236 124 211) !important;
}

.circular_progress_module .green1-progress .MuiSlider-track {
  background: #72b51d;
}
.circular_progress_module .green1-progress span.MuiSlider-thumbColorPrimary {
  height: 26px;
  width: 26px;
  background: #72b51d !important;
  box-shadow: 0px 0px 10px rgb(236 124 211) !important;
}
span.MuiSlider-valueLabelOpen.MuiSlider-valueLabel {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0;
}
span.MuiSlider-mark {
  display: none;
}
span.MuiSlider-mark.MuiSlider-markActive {
  display: none;
}
.owl-nav button.owl-prev::before {
  content: "";
  background-image: url("../../assets/icons/arrow_left.png");
  border: 1px solid #dadada;
  width: 44px;
  height: 44px;
  background-size: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  padding: 20px;
  left: 0px;
  top: 0%;
  right: 0;
  margin: auto;
}
.owl-nav button.owl-next::before {
  content: "";
  background-image: url("../../assets/icons/arrow_right.png");
  border: 1px solid #dadada;
  width: 44px;
  height: 44px;
  background-size: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  padding: 20px;
  left: 0px;
  top: 70px;
  right: 0;
  margin: auto;
}
.iframeconatinerwdth{
  max-width: 100%!important;
}
.innerhtmlcontainer .awdiv{
  position: relative!important;
}
.innerhtmlcontainer .awspan{
  white-space: inherit!important;
  position:relative!important;
  left:0px!important;
}
.innerhtmlcontainer .awdiv.awpage{
  max-width: 100%!important;
  padding: 15px;
}
.innerhtmlcontainer .awdiv.awpage .awdiv{
  left:0px!important;
}
// .owl-carousel .owl-item img {
//   max-width: 100%;
//   width: auto;
// }
// .owl-carousel .owl-item img {
//   display: inline-block;
// }
@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .prev_next_btn {
    margin: 30px auto;
  }
  .prev_next_btn .back_button {
    width: 100%;
  }
  .prev_next_btn .next_button {
    width: 100%;
  }
  .ads_Course_module{
    margin: 10px 0px !important;
    height: 39px !important;
    width: 80% !important;
  }
}
.imgSet img {
  max-width: 100%;
}
.btn-close{
  box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 7px;
    color: #000;
    background-image: url("../../assets/icons/cross.png");
    border: 0;
    border-radius: 0.25rem;
    opacity: 1.5; 
}
.ads_Course_module{
  margin: 40px 0px;
  height: 120px;
  width: 84%;
  object-fit: cover;
}
.ads_course_mod_cover {
  text-align: center;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  // border-color: #3d5af1 transparent #3d5af1 transparent;
  border-color: #f13da9 transparent #f13da9 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

