@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

form.set_form input {
  border: none;
  font-family: Poppins;
  font-size: 14px;
  background: #f6f9fc;
  padding-left: 11px;
  border-radius: 5px;
  height: 50px;
  margin: 0;
  margin-top: 10px;
}
:focus {
  outline: none !important;
}
::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

form.set_form button {
  border: 1px solid #ff008d;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 54px;
}
.main_div h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 30px;
}
.main_div label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-align: left;
}
.logo_1 {
  text-align: center;
  margin-top: 45px;
}
.for_pass a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #000000;
}
.for_pass a:hover {
  color: #000000;
}

.text-center.for_pass {
  margin-bottom: 31px;
}
.text-center.Sign_up {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.err {
  margin-bottom: 20px;
}

.main_div label span {
  color: #ff008d;
}

.signup-link {
  text-decoration: none;
  font-weight: 500;
  color: #ff008d;
}
.signup-link:hover {
  text-decoration: none;
  font-weight: 500;
  color: #ff008d;
}

@media screen and (max-width:767px){


.college_ads_box {
  height: 47px !important;
  margin-left: 15px !important;
  margin-bottom: 20px !important;
  width: 90% !important;
  object-fit: contain !important;
}
.top_col_content h3 {
  margin-left: 0px !important;
}

}