@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.logo_2 {
  position: absolute;
  width: 192px;
  height: 58.2px;
  left: 215px;
  top: 21px;
}

header {
  position: absolute;
  width: 1600px;
  height: 133px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.set_form .search_input {
  position: absolute;
  width: 554px;
  height: 46px;
  left: 483px;
  top: 33px;
  padding: 13px 16px 12px 16px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 14px;
}
:focus {
  outline: none !important;
}
::placeholder {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  color: #bdbdbd;
}

.set_form .login_register {
  position: absolute;
  width: 170px;
  height: 44px;
  left: 1067px;
  top: 33px;
  border: none;
  color: #ffffff;
  font-family: Poppins;
  /* Black 1 */

  background: #ec498a;
  border-radius: 10px;
}

.set_language {
  position: absolute;
  width: 128px;
  height: 40px;
  left: 1257px;
  top: 34px;
}

.headings {
  position: absolute;
  display: flex;
  width: 1600px;
  height: 60px;
  left: 0px;
  top: 113px;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  padding: 6px 224px 0 246px;
  justify-content: space-between;
}

.headings a {
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  color: #d62c79;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px 10px 20px;

  &:hover {
    background-color: #ec498a;
    color: #ffffff;
    transition: 0.3s ease;
  }
}


