.login_form {
  background: rgba(237, 248, 248, 0.4);
  border-radius: 20px 20px 0px 0px;
  display: block;
  // height: 100%;
  padding: 15px 22px;
  margin: 20px;
}

.login_form h2 {
  font-family: "SegoeUI_medium";
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  // text-transform: capitalize;
  color: #152523;
  font-style: normal;
}
.login_form p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #425466;
  margin-bottom: 30px;
}
a.fer_pass {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgb(66 84 102);
  margin-bottom: 0px;
  float: right;
  display: block;
  text-align: right;
  text-transform: capitalize;
  // margin-top: 5px;
}
.login_form p .register,
.login_form p .register:hover {
  color: #d62c79;
  font-weight: 600;
}
.login_form .form-group {
  margin-bottom: 5px;
  position: relative;
}
.form-group-password{
  // width: 300px;
  display: inline;
}
// .eyesOffIcon{
//   display: flex;
//   justify-content: flex-end;
//   padding-top: 5px;
//   padding-right: 8px;
//   background-color: #ffffff;
//   border: hidden;
// }

p.eye {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 3%;
}
p.eye svg {
  color: #bdbdbd;
  margin-top: 0px;
}

.form-control-password{
  position: absolute;
  background: #ffffff;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 60%;
  height: 36px;
  // margin-bottom: 20px;
}
.err{
  margin-top: 10px !important;
}
p.eye {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 3%;
}
p.eye svg {
  color: #bdbdbd;
  margin-top: 0px;
}
