@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

/*footer*/
.footer_other {
  background: #1c1d1f;
  padding: 50px 0px 20px;
}
.footer_login {
  background: #1c1d1f;
  padding: 50px 0px 20px;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer ul li a {
  font-family: "SegoeUI_medium";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition: 0.25s ease;
}
footer ul li a:hover {
  color: #ec498a;
  text-decoration: none;
}
.bottom-footer p {
  font-family: "SegoeUI_medium";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.footer_login ul li a {
  color: #fff;
}

.footer_login .bottom-footer p {
  color: #fff;
}

footer .set_language .MuiButton-text.MuiButton-textPrimary {
  width: 100%;
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  border: 1px solid #ffffff !important;
  text-align: left !important;
}


@media screen and (min-device-width: 50px) and (max-device-width: 767px) {

.set_language .makeStyles-language-1 {
  width: 100%;
}

}