.guidance_book {
  background: #ffe2ec;
  padding: 80px 0;
}

.guidance_book_form {
  background-color: #fff;
  border-radius: 5px;
  padding: 55px 40px;
}

.guidance_book_form em {
  font-style: inherit;
}

.guidance_con h2 {
  font-family: 'SegoeUI_medium';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 40px;
  color: rgb(96 96 96);
}

.guidance_con p {
  font-family: 'SegoeUI_bold';
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 30px;
  color: rgb(0 0 0);
}

.guidance_con img {
  max-width: 100%;
  margin-top: 30px;
}

.guidance_book_form span.MuiTabs-indicator {
  border-bottom: none !important;
}

.guidance_book_form .MuiTabs-flexContainer {
  justify-content: space-between;
  margin-top: 20px;
}

.guidance_book_form .MuiTabPanel-root {
  padding: 24px 0 !important;
}

.guidance_book_form .MuiTabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
}

.guidance_book_form .MuiTab-root.Mui-selected {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #425466;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d62c79;
  box-sizing: border-box;
  border-radius: 5px;
  width: 48%;
  height: 42px;
}

.guidance_book_form .MuiFormControl-root.MuiTextField-root {
  background: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.guidance_book_form .MuiButtonBase-root.MuiTab-root {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #425466;
  padding: 0;
}

.guidance_book_form .MuiOutlinedInput-root {
  height: 50px;
  // padding: 0px 0 0px 6px;
}

.guidance_book_form .MuiOutlinedInput-notchedOutline {
  border: none;
}

.guidance_book_form .MuiSelect-select.MuiSelect-outlined img {
  margin-right: 9px;
}

.guidance_book_form select {
  background: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.form-control{
  border-color:#e6e5eb !important;
  background: #fcfcfd !important;
  color: #5f6377 !important;
}

.guidance_book_form .MuiFormControl-root {
  width: 100%;
  background-color: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.guidance_book_form .form-group.mzero .MuiFormControl-root {
  margin: 0;
}

.guidance_book_form textarea.textarea_set {
  width: 100%;
  background: #fcfcfd;
  border: 1px solid #cfd0d7;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 12px;
}

.guidance_book_form textarea.textarea_set:focus {
  outline: none;
}

.guidance_book_form .MuiSelect-select.MuiSelect-outlined {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5f6377;
}

.guidance_book_form svg.MuiSvgIcon-root {
  background-image: url("../../assets/icons/down.png") !important;
  background-repeat: no-repeat;
  color: #fff !important;
}

.guidance_book_form svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-1636szt {
  right: 5px !important;
  top: calc(50% - 0.15em) !important;
}

.guidance_book_form svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-1yhq19e {
  right: 15px !important;
  top: calc(50% - 1em) !important;
}

.guidance_book_form .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff;
  top: calc(50% - 5px);
}

.guidance_book_form .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff;
  right: 18px;
  top: calc(50% - 0.9em);
}

button.book_sess_btn {
  background: #ec498a;
  border: 1px solid #ec498a;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  width: 190px;
  padding: 14px;
  transition-duration: 1s;
}

button.book_sess_btn:hover {
  border: 1px solid #ec498a;
  color: #ec498a;
  background-color: transparent;
}

.g_book_img {
  display: flex;
  justify-content: space-between;
}

.book_sec_content.mob_show {
  display: none;
}

.book_sec_content.mob_show h2 {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  color: #323232;
  margin: 0;
}

.book_sec_content.mob_show p {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #828282;
}

img.calendar_icon_guidance {
  position: absolute;
  right: 26px !important;
  top: 5px !important;
  z-index: 15 !important;
  color: #fff !important;;
}
img.edit_icon_guidance {
  position: absolute;
  // right: 330px !important;
  margin-top: 13px !important;
  margin-left: 10px;
  // z-index: 15 !important;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .guidance_book_form {
    padding: 30px;
  }

  .form-control{
    border-color:#e6e5eb !important;
    background: #fcfcfd !important;
    color: #5f6377 !important;
  }

  .guidance_book {
    padding: 30px 0;
  }

  .guidance_book .col-md-5.col-12 {
    order: 2;
  }

  .book_sec_content.mob_show {
    display: block;
  }

  .guidance_book .col-md-7.col-12 {
    order: 1;
  }

  .book_sec_content.mob_hide {
    display: none;
  }

  .other_head .MuiButton-text.MuiButton-root {
    display: none;
  }

  .ads_guidence {
    margin-top: 20px;
    height: 400px !important;
  }
}

.ads_guidence {
  width: 100%;
  height: 614px;
  padding-top: 0px;
}


// KC 30-08-2022

@media screen and (max-width:767px) {

  .addimage098 {
    width: 100%;
  }

  .addimage098 img {
    width: 100%;
    object-fit: contain;
  }

  .career_box h3 {
    white-space: unset;
    /* text-overflow: ellipsis; */
  }

  .college_ads_box {
    height: 100px;
    margin-left: 0;
  }

  .college_ads_box {
    width: 79%;
    //object-fit: cover;
    margin: auto;
    text-align: center;
    display: block;
  }

  .career_box h3 {
    white-space: unset;
  }

img.calendar_icon_guidance {
  position: absolute;
  right: 26px !important;
  top: 5px !important;
  z-index: 15 !important;
}
img.edit_icon_guidance {
  position: absolute;
  // right: 330px !important;
  margin-left: 10px;
  margin-top: 13px !important;
  // z-index: 15 !important;
}
}

.form-group Calendar {
  margin-top: 20px;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  box-sizing: content-box;
  height: 15em !important;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  animation-duration: 10ms;
  padding: 200px !important;
  margin: 200px !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  background-color: rgb(0 0 0 / 54%);
  ;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: rgba(255, 142, 208, 0.54);
  ;
}