@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.logo_3 {
  text-align: center;
  margin-top: 45px;
}

.main_div h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main_div label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-align: left;
}

form.set_form input {
  border: none;
  font-family: Poppins;
  font-size: 14px;
  background: #f6f9fc;
  padding-left: 11px;
  border-radius: 5px;
  height: 50px;
  margin: 0;
  margin-top: 10px;
}
:focus {
  outline: none !important;
}
::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

form.set_form button {
  border: 1px solid #ff008d;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 54px;
}
