.career_tit {
    margin-bottom: 50px;
  }
  
  .career_tit h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #323232;
  }
  
  .career_tit p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #828282;
  }
  
  .career_box {
    background: #ffffff;
    width: 100%;
    height: 268px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    display: grid;
    margin-bottom: 30px;
  }
  
  .career_box_add {
    background: #ffffff;
    width: 100%;
    //height: 268px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    align-items: center;
    display: grid;
    margin-bottom: 30px;
  }
  
  .career_img img {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
  }
  
  .css-ztrqiq-MuiImageListItemBar-root {
    border-radius: 15px;
  }
  
  .career_img {
    width: 191px;
    height: 144px;
    float: left;
    display: inline-flex;
    overflow: hidden;
    padding: 10px;
    margin-top: 200px;
  }
  
  .career_box h3 {
    font-family: Poppins;
  
    text-transform: capitalize;
  
    color: #323232;
  
  
    font-size: .875rem;
    line-height: 1.3125rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .career_box h3 {
    font-size: .875rem;
    line-height: 1.3125rem;
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
  }
  
  .career_box p {
    font-family: Poppins;
    font-style: normal;
    color: #828282;
    position: relative;
    font-size: 14px;
  }
  
  .career_box p span {
    color: #4f4f4f;
  }
  
  .career_box ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    max-width: 100%;
    margin: 0;
    // margin-bottom: 30px;
  }
  
  .career_box ul li {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    color: #828282;
    margin-bottom: 19px;
  }
  
  .career_box ul li span {
    color: #4f4f4f;
  }
  
  .career_box button {
    background: #ec498a;
    border: 1px solid #ec498a;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    padding: 13px 31px;
    // margin-top: 20px;
  }
  
  .css-1lizpae-MuiImageListItemBar-titleWrap {
    padding: 65px 16px;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 163px;
    text-align: center;
    display: none;
  }
  
  .MuiImageListItemBar-title.css-dasnyc-MuiImageListItemBar-title,
  .MuiImageListItemBar-subtitle.css-hk6gwf-MuiImageListItemBar-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
  
  @media screen and (max-device-width: 667px) {
  
    .career_box {
      height: auto;
      box-shadow: none;
      padding: 0;
    }
  
    .deatil_box_right {
      margin-top: 20px;
    }
  
    .career_tit h2 {
      font-size: 24px;
    }
  
    .career_box h3 {
      padding-top: 15px;
    }
  
    .top_col_content {
      border-bottom: 1px solid #e3e4eb;
      padding-bottom: 30px;
    }
  
    .career_box p {
      font-size: 14px;
    }
  
    .career_box ul li {
      font-size: 14px;
    }
  
    .career_img img {
      border-radius: 5px;
      border: 1px solid #d1d1d1;
    }
  
    .career_tit p {
      display: none;
    }
  
    .accordion_box_all {
      display: none;
    }
  
    .career_tit {
      margin-bottom: 25px;
    }
  
    .DetailMainDiv_career {
      padding: 15px 0;
      margin-top: 80px;
      user-select: none;
    }
  
    .career_box .col-md-7.col-12 .career_img {
      order: 1;
    }
  
    .career_box .col-md-7.col-12 {
      order: 2;
    }
  
    .filter_side .accordion_box_all {
      display: block;
    }
  
    .filter_side {
      display: block !important;
    }
  
    .accordion_box_all ul li .MuiFormControlLabel-label {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #323232;
    }
  }
  
  
  .filter_side {
    display: none;
  }
  
  .filter_side {
    background: #ffffff;
    border: 1px solid #e3e4eb;
    padding: 67px 30px;
    border-radius: 0px;
    height: 100%;
    width: 90%;
    margin-left: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999999;
  }
  
  .filter_side img {
    position: absolute;
    right: 5%;
    top: 4%;
  }
  
  .filter_side p.more {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #323232;
    margin: 0;
  }
  
  .filter_side ul {
    margin: 0;
  }
  
  .google_add {
    width: 100%;
    padding-top: 60px;
  }
  
  .google_add_right {
    width: 100%;
  }
  
  .deatil_box {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    padding: 25px;
    user-select: none;
  }
  
  .deatil_box h5 {
    background: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFDFDF;
    margin: 0px;
    display: block;
  }
  
  .deatil_box_right {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    padding: 18px;
  }
  
  .deatil_box_right h5 {
    background: #fff;
    padding-bottom: 18px;
    border-bottom: 1px solid #DFDFDF;
    margin: 0px;
    display: block;
  }
  
  .right_gallery {
    width: 100%;
    padding-bottom: 15px;
  }
  
  .responsive-iframe {
    width: 100%;
    height: 100%;
  }
  .DetailMainDiv_career {
    padding: 20px 0;
  }
  
  .college_logo {
    height: 175px;
    float: left;
    display: inline-flex;
    overflow: hidden;
    padding: 10px;
    margin-top: -87px;
    margin-left: 30px;
  }
  .college_logo_img{
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
  }
  .coverMainSecCollege{
    padding-top: 60px;
  }
  .college_detail_cover {
    width: 1366;
    height: 200px;
    display: block;
  }
  .college_detail_cover_img{
    width: 100%;
    background-size: cover;
    height: 100%;
  }
  .card-img-top{
    margin-bottom: 15px;
  }

  .ads_guidence_blog {
    width: 100%;
    height: 614px;
    padding-top: 0px;
  }
  .ads_guidence_blog img {
      vertical-align: middle;
      border-style: none;
  }
  .google_add_box_img {
    width: 100% !important;
    height: 320px !important;
    padding-top: 20px;
  }