@import "../../Styles/variable";

  .login_main{
    position: relative;
    background-image: url("../../assets/images/login.png");
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .login_main .login_content h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #D62C79;
  }
.login_content {
    width: 433px;
    float: right;
    margin-top: 17px;
}
.login_content .login-content-right h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.login_content .login-content-right p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #535353;
}
.btn.btn-google{
    background: #FFFFFF;
    border: 1px solid #E3E4EB;
    box-sizing: border-box;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 97%;
    padding: 9px 20px;
    margin: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4F4F4F;
    height: 40px;
}
.orimg{
    max-width: 98%;
}

.login_form label{
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #425466;
}

.login_form .form-control{
    background: #FFFFFF;
    border: 1px solid #E6E5EB;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
}
.login_form .form-control:focus{
    box-shadow: none;
    border-color: #D62C79;
}
.btn.btn_login{
    background: #EC498A;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.25s ease;
}

.btn.btn_login:hover{
    background: #000;
}
.login_form .policy_para{
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: $secondaryColor;
} 
.login_form .policy_para a{
    color: #D62C79;
    font-weight: 600;
}
.login_form .policy_para a:hover{
    text-decoration: none;
}
.login_form span.asterik {
    color: #C42020;
    font-size: 16px;
    padding-left: 3px;
}