.main_div_ForPass {
    width: 100%;
    height: 435px;
    background: linear-gradient(96.72deg, rgb(250 208 196) 6.25%, rgb(228 168 228) 103.39%);
}
.ForPass_text {
    padding: 36px 55px 0 0;
    height: 100%;
    position: relative;
}
.ForPass_feild {
    background: rgb(255 255 255);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
    border-radius: 20px;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    margin-top: -250px;
    margin-bottom: 102px;
}
.ForPass_text h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    color: rgb(79 79 79);
    margin: 0;
}
.ForPass_text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: rgb(130 130 130);
    max-width: 350px;
    margin-top: 15px;
    margin-bottom: 35px;
}
.ForPass_text h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: rgb(214 44 121);
    margin-top: 25px;
}
.ForPass_feild img {
    max-width: 100%;
}
.ForPass_text input {
    width: 100%;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgb(189 189 189);
}
.ForPass_text button {
    width: 120px;
    height: 44px;
    background: rgb(255 255 255);
    border: 1px solid rgb(236 73 138);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(236 73 138);
    position: absolute;
    bottom: 50px;
    right: 52px;
}
.ForPass_feild .row {
    height: 100%;
}


@media screen and (min-device-width: 50px) and (max-device-width: 767px) { 
    .ForPass_feild {
        width: 100%;
        height: 850px;
    }
    .ForPass_text {
        padding: 15px;
    }
}