._full_certif.text-center img {
    max-width: 100%;
}
button.back_course {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #EC498A;
    border: 1px solid #EC498A;
    padding: 15px 35px;
    margin: 15px auto;
}