section.CouDtl_ban {
  width: 100%;
  height: 377px;
  background: linear-gradient(96.72deg, #fad0c4 6.25%, #e4a8e4 103.39%);
  position: relative;
}
section.CouDtl_ban .row {
  height: 377px;
}
.set a {
  text-decoration: none;
}
.cou_set_similer .item:hover {
  margin-top: 0;
}
.CouDtl_con h2 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #fff;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 25px;
}
// .CouDtl_con h3 {
//   font-family: "SegoeUI_medium";
//   font-style: normal;
//   font-weight: 600;
//   font-size: 30px;
//   line-height: 40px;
//   color: #000;
//   margin-top: 10px;
//   margin-bottom: 22px;
// }
.CouDtl_con h3 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 53px;
}
.CouDtl_con h5 {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #4f4f4f;
  margin-bottom: 19px;
}
.ban_rat {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 19px;
}
.ban_rat p {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #4f4f4f;
  margin: 0;
}
.CouDtl_con {
  margin-top: 67px;
}
.CouDtl_con h4 {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  color: #4f4f4f;
}
.CouDtl_con h4 span {
  color: #333333;
  font-family: "SegoeUI_bold";
  word-break: break-all;
}
.CouDtl {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.CouDtl img {
  max-width: 100%;
  max-width: 100%;
  max-height: 300px;
  width: 100%;
}
.sec1_con {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 25px 15px;
  margin-top: 40px;
  margin-bottom: 25px;
}
.sec1_con h2 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
  margin: 0;
  margin-bottom: 16.5px;
}
.sec1_con ul {
  list-style: none;
  padding: 0;
}
// section.Coutl_sec1.mb-5 .owl-nav.disabled {
//   display: none !important;
// }
.sec1_con ul li {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #4f4f4f;
  margin-bottom: 13px;
}
.sec1_con ul li span {
  padding-right: 11px;
}
.sec2_right .btn.btn_str_Cor {
  background: #ec498a;
  border-radius: 2px;
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
  width: 365px;
  height: 56px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.sec1_des {
  padding-top: 24px;
}
.similar-coursestext {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
  padding: 36px 0px 7px 0px;
  margin: 0;
}
.sec2_right {
  height: auto;
  background: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  padding: 24px 0 24px 27px;
}
.sec2_right .item {
  width: 270px;
}
.sec2_right .slide-img1 img {
  max-width: 100%;
  width: 100% !important;
}
.sec2_right h2 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
  margin: 0;
}
.sec2_right ul {
  padding: 0;
  margin-top: 17px;
  margin-bottom: 41px;
}
.sec2_right ul li {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #4f4f4f;
  list-style: none;
  margin-bottom: 5px;
}
.sec2_right a.btn_view {
  background: #ffffff;
  border: 1px solid #ec498a;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #ec498a;
  padding: 23px 124px;
  line-height: 148px;
  text-decoration: none;
  cursor: pointer !important;
}
// .similar-coursesslider .owl-nav.disabled{
//   display: none !important;
// }
.similar-coursesslider .boxnew {
  background: #ffffff;
  border: 1px solid #e3e4eb;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.similar-coursesslider .boxnew .tag_btn p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 12px 0px 5px 0px;
  font-family: "SegoeUI_medium";
  margin: 0;
}
.similar-coursesslider .slide-img1 img {
  width: 234px;
  height: 130px;
  border-radius: 10px 10px 0px 0px;
}
.sec1_con2 h2 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}
.sec1_con2 ul {
  padding: 16px 25px;
}
.sec1_con2 ul li {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.sec1_des h2 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
}
.sec1_des p {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
  // word-break: break-all;
}
.sec1_con2 ul.list-style-none li img {
  margin-right: 17px;
}
.sec1_con2 ul.list-style-none li {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #4f4f4f;
}
.sec1_con2 ul.list-style-none {
  list-style: none;
  padding: 16px 0px;
}
.sec2_right ul li img {
  padding-right: 15px;
}
.features_box {
  display: flex;
  // align-items: center;
  grid-gap: 0.9rem;
  gap: 0.9rem;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  height: 120px;
}
.features_box h6 {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.features_box p {
  font-family: SegoeUI_medium;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #828282;
  margin: 0;
  margin-bottom: 9px;
}
.sec2_right .owl-nav button.owl-prev::before {
  content: "";
  background-image: url("../../assets/images/CoursesDetails/left_arrow.png");
  border: none;
  max-width: 100%;
  background-size: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  padding: 20px;
  left: 27px;
  top: 75px;
  margin: auto;
}
.sec2_right .set {
  margin-left: 30px;
}
.sec2_right .owl-nav button.owl-next::before {
  content: "";
  background-image: url("../../assets/images/CoursesDetails/right_arrow.png");
  border: none;
  max-width: 100%;
  background-size: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  padding: 20px;
  top: 75px;
  left: 411px;
  margin: auto;
}

.sec2_right .owl-carousel .owl-item img {
  max-width: 100%;
  width: auto;
}
.sec2_right .owl-carousel .owl-item img {
  display: inline-block;
}
.sec2_right .similar-coursestext {
  padding: 0px 0px 7px 0px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sec2_right .btn.btn_str_Cor,
  .sec2_right button.btn_view {
    width: 100%;
  }
  .CouDtl_con h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sec2_right .btn.btn_str_Cor,
  .sec2_right button.btn_view {
    width: 100%;
  }
  .sec2_right a.btn_view {
    padding: 23px 45px;
  }
}

@media screen and (max-width: 767px) {
  section.CouDtl_ban {
    height: auto;
  }
  .CouDtl_con h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .CouDtl_con h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .ban_rat {
    margin-bottom: 15px;
  }
  .CouDtl img {
    position: relative;
    max-width: 100%;
  }
  .CouDtl_con h4 {
    font-size: 25px;
    line-height: 16px;
    margin-bottom: 35px;
  }
  .sec2_right .btn.btn_str_Cor,
  .sec2_right button.btn_view {
    width: 100%;
  }
  .sec2_right h2,
  .sec1_con2 h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .sec1_con2 ul li {
    font-size: 17px;
    line-height: 24px;
  }

  section.CouDtl_ban .row {
    height: auto ;
  }
  .google_add{
    width: 100%;
    padding-right: 0px!important;
  }
  .google_add_left{
    width: 100%;
  padding: 0px 30px;
  }
}
.sec1_con2.con_setSec1 .features_box {
  background-color: transparent;
  box-shadow: none;
  height: auto;
  padding: 0;
}
.google_add{
  width: 100%;
padding-bottom: 30px;
  padding-top: 30px;
}
.google_add_left{
  width: 100%;
  padding-bottom: 30px;
}


