.Cors_sec {
  background-image: url("../../assets/images/Courses/Courses_ban.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 620px;
  position: relative;
}
// section.Cors_sec::before {
//   content: "";
//   background-image: url("../../assets/images/Courses/edit_icon.png");
//   width: 100px;
//   height: 153px;
//   position: absolute;
//   top: 50px;
//   left: 80px;
// }
// section.Cors_sec::after {
//   content: "";
//   background-image: url("../../assets/images/Courses/star.png");
//   width: 196px;
//   height: 170px;
//   position: absolute;
//   top: 50px;
//   right: 80px;
// }
.cour_box {
  display: flex;
  flex-wrap: wrap;
}

.cors_con h2 {
  font-family: 'SegoeUI_bold';
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 120%;
  color: #ee5f98;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 33px;
}
.cour_box ul li img {
  max-width: 100%;
  margin-bottom: 40px;
}
.cour_box ul {
  padding: 0;
  list-style: none;
}
ul.ulcon {
  margin-left: 80px;
}
ul.ulcon li {
    font-family: 'SegoeUI_bold';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
}
ul.ulcont {
  display: flex;
  gap: 1rem;
  margin-left: 80px;
}
ul.ulcont li {
  font-family: 'SegoeUI_bold';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #000000;
}
.Serc_type button.btn.btn-info {
  background: #ec498a;
  border-radius: 10px;
  border: none;
  width: 187px;
  height: 50px;
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-left: 14px;
}
.Serc_type {
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 31px;
}
.Serc_type input {
  border: none;
  width: 100%;
}
.inp_ser {
  display: flex;
  background: #ffffff;
  border: 1px solid #f2eded;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  width: 100%;
}
section.Srch_sec h2 {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  color: #000000;
  margin: 0;
}
section.Srch_sec h4 {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  margin-top: 53px;
  color: #d62c79;
}
section.Srch_sec button#demo-customized-button {
    font-family: 'SegoeUI_medium';
    background: #F0F0F0;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    width: 170px;
    height: 50px;
    text-transform: capitalize;
    justify-content: space-between;
}
section.Srch_sec {
  margin-top: 60px;
}
.Serc_type input:focus {
  outline: none;
}
section.Srch_sec h3 {
  font-family: "SegoeUI_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #323232;
  margin: 0;
  margin-bottom: 42px;
}
.Serc_type input::placeholder {
  font-family: "SegoeUI_medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
}
.box {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  // background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition-duration: 1s;
}
.box_hov:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}
.slide-img {
  height: 207px;
  position: relative;
}
.slide-img img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.tag_btn button.btn.btn-info {
  background: #fedeff;
  border-radius: 100px;
  border: none;
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ef5de9;
  margin-top: 10px;
  margin-bottom: 14px;
}

.detail-box {
  font-family: calibri;
}
.detail-box,
.slide-img img {
  width: 100%;
  box-sizing: border-box;
}
.type {
  display: flex;
  justify-content: space-between;
}
.type a,
.type a span {
  font-family: SegoeUI_bold;
  font-style: normal;
  line-height: 18px;
}
hr.line {
    margin: 0;
    border: 1px solid #e3e4eb;
}
.type a {
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #f2994a;
  margin: 14px 0;
}
.type a img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.time {
  display: flex;
  justify-content: space-between;
}

.names p img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.names p img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.names {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.time p,
.type span.std {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.names span {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 36px;
  color: #ec498a;
}
.type span.std {
  line-height: 40px;
}
.names p {
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin: 0;
}
.tag_btn h6 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-family: SegoeUI_bold;
  font-style: normal;
  font-weight: 600;
}
.type a span {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1420px) { 
    .Cors_sec{
        padding: 0 12%;
        height: auto;
    }
    .cour_box {
        flex-wrap: nowrap;
    }
    .cors_con h2 {
        font-size: 45px;
        padding-top: 25px;
    }
}